{% extends "base.html" %}
{% block content %}
<h3>Login to Travel-o-rama</h3>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
        <input type="submit" value="login">
        <input type="hidden" value="{{ next }}" name="next">
        </form>
    {% endif %}
{% endblock %}