h1 {
    font-size: 100px;
    color: yellow;
}

h2 {
    color: yellow;
    font-size: 50px;
}

span {
    color: white;
}

p {
    color: white;
}

tr, th{
    text-align: center;
    padding: 15px;
}

a {
    color: white;
    text-decoration-line: underline;
}

center {
  margin-left: auto;
  margin-right: auto;
}

#footer { /* use with id = "footer" */
   display:inline-block;
   width:100%;
   height:1em;
   padding: 2em 0.25em;
   text-align: center;
   font-size: xx-small;
}

.large_font {
   font-size: large;
   color: yellow;
}

.lobster {
    color: beige;
    font-family: 'lobster';
    font-size: 78px;
}

.tomorrow {
    color: yellow;
    font-family: 'Tomorrow', sans-serif;
}

.point {
    color: yellow;
    font-family: 'Press Start 2P'
}

.grd-head-cont{
        background-color: black;
    }

    /* header cell */
.grd-head-cont th{
    background-color: black;
}



