<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>underscore_</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tomorrow:wght@500;600&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body style="background-color: black">
    <!--<img src='{% static "myapp/NBA Bets.png" %}' alt="image" width="400px">-->


    <span style="float:right; color: yellow">
            {% if user.username %}
                <span class="large-font">Hello {{ user.username }}!</span><br>
                <a href="{% url 'logout' %}"><button style="background-color: grey">logout</button></a>
            {% else %}
                <span class="large-font">Hello Anonymous User!</span><br>
                <a href="{% url 'login' %}"><button style="background-color: grey">login</button></a>/
                <a href="{% url 'register_user' %}"><button style="background-color: grey">register</button></a>
            {% endif %}
        </span>
        {% block content %}
            <-- This is where the page content will go! -->
        {% endblock %}
    <div id="footer" style="color: yellow">
        ©2023 Pedley & Mulcahy Associates. All Rights Reserved
    </div>
</body>
</html>
