{% extends "base.html" %}
{% block content %}
    <head>
        <span style="float:center; color: yellow">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'bets' %}">Power Bets</a>
            <a href="{% url 'lines' %}">Todays Lines</a>
            <a href="{% url 'past' %}">Past Games</a>
            <a href="{% url 'teams' %}">Current Teams</a>
        </span>
    </head>
    <h2 class=" text-center point">
        Todays Best Bets</h2>
    <table class="point">
            <th>Team</th>
            <th>Line</th>
        </tr>
        {% for t in ranked_bets %}
            <tr>
                <td>{{ t.team }}</td><td>{{ t.line }}</td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}