<!--old homepage html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
-->

<!--old image ref
<img src="static/myapp/logo.png"/>

<img src = "">
-->
<!--
<p></p>
This is the landing page for our web app.
<p></p>
The current time is:
<p>
    <a href="">View Teams</a>
</p>
<p>
    <a href="">View Maintenance Page</a>
</p>
</body>
</html>
-->
{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <p>What a wonderful App this is!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="lobster">Currency Rates!</h3>
                <p>Using this app, you can get exchange rates easily!</p>
            </div>
            <div class="col-sm-4">
                <h3 class="lobster">Navigation!</h3>
                <p> Please choose an action from the following options
                <p>
                    <a href="{% url 'maintenance' %}">Do maintenance</a><br>
                    Get rates<br>
                    Other stuff<br></p>
            </div>
            <div class="col-sm-4">
                <h3 class="lobster">The future!</h3>
                <p>Soon, you will be able to invest your money by buying, selling and saving in any currency!</p>
            </div>
        </div>
    </div>
{%  endblock %}

