<!--old homepage html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
-->

<!--old image ref
<img src="static/myapp/logo.png"/>

<img src = "">
-->
<!--
<p></p>
This is the landing page for our web app.
<p></p>
The current time is:
<p>
    <a href="">View Teams</a>
</p>
<p>
    <a href="">View Maintenance Page</a>
</p>
</body>
</html>
-->
{% extends "base.html" %}
{%  load static %}
{% block content %}
    <div class="text-center" >

        <h1 class="tomorrow" ><img src={% static "myapp/on_fire.gif" %} alt="gif" width="175px">underscore_<img src={% static "myapp/on_fire.gif" %} alt="gif" width="175px"></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3 class="tomorrow">Power Picks</h3>
                <p>Using this app, you can get exchange rates easily!</p>
            </div>
            <div class="col-sm-5">
                <h3 class="tomorrow">Navigation</h3>
                <p> Please choose an action from the following options
                <p>
                    <a href="{% url 'maintenance' %}">Do maintenance</a><br>
                    <a href="{% url 'past' %}">See past results</a><br>
                    <a href="{% url 'teams' %}">See current teams</a><br>
                    Get rates<br>
                    Other stuff<br></p>
            </div>
        </div>
    </div>
{%  endblock %}

