{% extends "base.html" %}
{%  load static %}
{% block content %}
        <head>
        <span style="float:center; color: yellow">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'bets' %}">Power Bets</a>
            <a href="{% url 'lines' %}">Today's Lines</a>
            <a href="{% url 'past' %}">Past Games</a>
            <a href="{% url 'teams' %}">Current Teams</a>
        </span>
    </head>
<h2 class=" text-center point">Today's Lines</h2>

<table style="color: yellow; background-color: black" class="point" id="lines">
        <th style="background-color: black; font-family: 'Press Start 2P'; color: yellow">Away Team</th>
        <th style="background-color: black; font-family: 'Press Start 2P'; color: yellow">Away Line</th>
        <th style="background-color: black; font-family: 'Press Start 2P'; color: yellow">Home Team</th>
        <th style="background-color: black; font-family: 'Press Start 2P'; color: yellow">Home Line</th>
    </tr>
    {% for t in line %}
        <tr>
            <td>{{ t.away_team }}</td><td>{{ t.away_money_line }}</td><td>{{ t.home_team }}</td><td>{{ t.home_money_line }}</td>
        </tr>
    {% endfor %}
</table>
<script src="{% static "myapp/tablefilter/tablefilter.js" %}"></script>
<script data-config="">
 var filtersConfig = {
  base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
  auto_filter: {
                    delay: 110 //milliseconds
              },
              filters_row_index: 1,
              state: true,
              msg_filter: 'Filtering...',
                tbl_head_css_class: 'grd-head-cont',
            };
            var tf = new TableFilter('lines', filtersConfig);
            tf.init();
</script>
{%  endblock %}
