{% extends "base.html" %}
{%  load static %}
{% block content %}
        <head>
        <span style="float:center; color: yellow">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'bets' %}">Power Bets</a>
            <a href="{% url 'lines' %}">Todays Lines</a>
            <a href="{% url 'past' %}">Past Games</a>
            <a href="{% url 'teams' %}">Current Teams</a>
        </span>
    </head>
<h2 class=" text-center point">Todays Lines</h2>

<table style="color: yellow" class="point center">
        <th>Away Team</th>
        <th>Away Line</th>
        <th>Home Team</th>
        <th>Home Line</th>
    </tr>
    {% for t in line %}
        <tr>
            <td>{{ t.away_team }}</td><td>{{ t.away_money_line }}</td><td>{{ t.home_team }}</td><td>{{ t.home_money_line }}</td>
        </tr>
    {% endfor %}
</table>
{%  endblock %}
