<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Maintenance operations</h1>
Please select a maintenance action
<form action="" method="get">
 <input type="radio" id="currencies" name="selection" value="currencies">
 <label for="currencies">Update the list of countries and currencies</label><br>
 <input type="radio" id="rates" name="selection" value="rates">
 <label for="rates">Update cross rates</label><br>
 <input name="form_submitted" value="1" type="hidden">
 <input name="update" value="Do selected action" type="submit">
</form>
</body>
</html>