{% extends "base.html" %}
{%  load static %}
{% block content %}
<h2>Past Results</h2>
<table style="color: yellow">
    <tr>
        <th>Away Team</th>
        <th>Away Line</th>
        <th>Away Final Score</th>
        <th>Home Team</th>
        <th>Home Line</th>
        <th>Home Final Score</th>
        <th>Date</th>
    </tr>
    {% for t in past %}
        <tr>
            <td>{{ t.away_team }}</td><td>{{ t.away_money_line }}</td><td>{{ t.away_score }}</td><td>{{ t.home_team }}</td><td>{{ t.home_money_line }}</td><td>{{ t.home_score }}</td><td>{{ t.game_date }}</td>
        </tr>
    {% endfor %}
</table>
{%  endblock %}
